.larachat {
  /**

FACEBOOK THEME

*/
  /*


@color: lightblue;

@borderColor: #ccc;
@baseColor: darken(@color,30);
@darkBaseColor: darken(@color,50);
@highlightColor: #FCFCFC;

//Conversation box.
@boxWidth: 260px;

@online: #A1C469;

@bordersBody: #ACB3C0;

@boxShadow: #D6D7D9;

@conversationFontColor: #FFF;
@conversationHeaderBorder: darken(@color,50);

*/
}
.larachat .sidebar {
  position: fixed;
  height: 100%;
  right: 0;
  bottom: 0;
  background: white;
  border-left: 1px solid #cccccc;
  width: 250px;
}
.larachat .sidebar .header {
  background: #5e78b2;
  padding: 5px 10px;
  border-bottom: 1px solid #2d4588;
  color: #ffffff;
  letter-spacing: 1px;
}
.larachat .sidebar .list-group {
  margin-bottom: 0px;
  border: 0px;
}
.larachat .sidebar .list-group .list-group-item {
  cursor: pointer;
  border-color: #cccccc;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-radius: 0px;
  padding: 3px 2px;
  margin: 0px;
}
.larachat .sidebar .list-group .list-group-item .avatar {
  width: 35px;
  height: 35px;
  padding: 1px;
}
.larachat .sidebar .list-group .list-group-item .name {
  font-size: .9em;
}
.larachat .sidebar .list-group .list-group-item .online {
  font-size: .7em;
  color: #a1c469;
  float: right;
  margin: 10px;
}
.larachat .sidebar .list-group .list-group-item .staggered-transition {
  transition: all .2s ease;
  overflow: hidden;
  margin: 0;
}
.larachat .sidebar .list-group .list-group-item .staggered-enter,
.larachat .sidebar .list-group .list-group-item .staggered-leave {
  opacity: 0;
  height: 0;
}
.larachat .sidebar .list-group .list-group-item:hover {
  background: #fcfcfc;
}
.larachat .sidebar .list-group .highlight {
  background: blue;
}
.larachat .sidebar .list-group .list-group-item:last-child {
  border-bottom: 0px;
}
.larachat .sidebar input {
  font-family: FontAwesome;
  position: absolute;
  width: 100%;
  padding: 5px 5px;
  font-size: .9em;
  bottom: 0px !important;
  outline: none;
}
.larachat .toggle {
  position: fixed;
  margin: 0px;
  padding: 0px;
  background: #5e78b2;
  border: 1px solid #2d4588;
  width: 31px;
  height: 31px;
  border-top: 0px;
  border-right: 0px;
  border-bottom-left-radius: 5px;
  color: #ffffff;
  right: 249px;
  top: 0px;
  outline: none;
}
.larachat .toggle-hidden {
  right: 0px;
  top: 0px;
}
.larachat .conversations {
  bottom: 0px;
  position: fixed;
  right: 250px;
}
.larachat .conversations .box {
  display: inline;
  margin-right: 10px;
  float: right;
}
.larachat .conversations .box .c-container {
  border: 0;
  width: 280px;
}
.larachat .conversations .box .c-container .header {
  cursor: pointer;
  background: #5e78b2;
  border: 1px solid #2d4588;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 1px 1px #d6d7d9;
  color: #ffffff;
  font-weight: none;
  padding: 5px 15px;
  font-size: .9em;
  letter-spacing: 1px;
}
.larachat .conversations .box .c-container .header button {
  float: right;
  border: 0px;
  background: transparent;
}
.larachat .conversations .box .c-container .body {
  background: #E9EAED;
  padding: 0px 3px;
  border-left: 1px solid #acb3c0;
  border-right: 1px solid #acb3c0;
  box-shadow: 1px 1px #d6d7d9;
  height: 250px;
  overflow-y: scroll;
}
.larachat .conversations .box .c-container .body::-webkit-scrollbar {
  width: 5px;
}
.larachat .conversations .box .c-container .body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.larachat .conversations .box .c-container .body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
.larachat .conversations .box .c-container .body ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.larachat .conversations .box .c-container .body ul li .message {
  position: relative;
}
.larachat .conversations .box .c-container .body ul li .message .avatar {
  width: 33px;
  height: 33px;
  float: left;
  border-radius: 3px;
  border: 1px solid #CACACA;
}
.larachat .conversations .box .c-container .body ul li .message .bubble {
  position: relative;
  font-size: .9em;
  margin: 5px 1px 1px 40px;
  padding: 7px 8px;
  border-radius: 3px;
  color: #0f0f0f;
  background: #ffffff;
  border: 1px solid #CACACA;
  width: 75% !important;
}
.larachat .conversations .box .c-container .body ul li .message .bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #FFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -5px;
  top: 10px;
}
.larachat .conversations .box .c-container .body ul li .message .bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #BABABA;
  display: block;
  width: 0;
  z-index: 0;
  left: -6px;
  top: 10px;
}
.larachat .conversations .box .c-container .body ul li .message .blue {
  background: #E2EDFD;
  border-color: #A6B7CF;
  margin: 5px 10px 1px 40px;
  margin-left: 60px !important;
}
.larachat .conversations .box .c-container .body ul li .message .blue:after {
  border-color: transparent #E2EDFD;
  border-width: 5px 0px 5px 5px;
  left: 198px;
}
.larachat .conversations .box .c-container .body ul li .message .blue:before {
  border-color: transparent #A3B3CB;
  border-width: 5px 0px 5px 5px;
  left: 199px;
}
.larachat .conversations .box .c-container .footer {
  border-left: 1px solid #acb3c0;
  border-right: 1px solid #acb3c0;
  box-shadow: 1px 1px #d6d7d9;
}
.larachat .conversations .box .c-container .footer textarea {
  width: 100%;
  resize: none;
  border-radius: 0px;
  border: 0px;
  border-top: 1px solid #D2D3D5;
  height: 26px;
  max-height: 100px;
  padding: 0px 5px;
  outline: none !important;
  font-weight: normal;
  -ms-overflow-style: none;
}
.larachat .conversations .box .collapsed {
  width: 220px;
}
.larachat .conversations .box .collapsed .header {
  overflow: hidden;
  margin-top: 281px;
}
.larachat .conversations .box .collapsed .header .online {
  display: none;
}
.larachat .conversations .box .collapsed .body {
  display: none;
}
.larachat .conversations .box .collapsed .footer {
  display: none;
}
.larachat .conversations-sidebar-hidden {
  right: 40px;
}
.larachat .logout {
  display: none;
}
